.route-item {
    margin-bottom: 10px;
  }
  
  .route-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .route-details p {
    margin: 0 10px;
  }
  
  .route-details button {
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    .phone-screen {
      padding: 10px;
    }
  
    .route-details {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .find-route-button {
      margin-left: 0;
      margin-top: 5px;
    }
  
    .route-item {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
  
    .route-details p {
      margin: 5px 0;
    }
  }